<h1>Science with River!</h1>

<h3>Episodes</h3>

<% false && @playlist.playlist_items.each do |p| %>
  <p>
    <img src="<%= p.thumbnail_url %>" />
    <br />
    <%= p.title %> (<%= p.video.view_count %> views)
    <ul>
      <% p.video.comment_threads.each do |c| %>
        <li><%= raw c.text_display %></li>
      <% end %>
    </ul>
  </p>
<% end %>
